.container {
    max-width: 600px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.form-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

    .form-row input {
        flex: 1;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #ccc;
    }

.lista {
    display: inline-block;
    padding: 2px 6px;
    margin-top: 15px;
}

.btn-criar {
    background:  #0094ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-editar {
    border: 1px solid #ccc;
    background: white;
    margin-right: 5px;
    cursor: pointer;
}

.btn-deletar {
    border: 1px solid red;
    color: red;
    background: white;
    cursor: pointer;
}
